*, a::before, a::after {
  margin:0;
  padding:0;
  box-sizing: inherit;
}

:root {
  --darkgray: #444444;
  --dbgreen: #278500;
}

.App {
  background-color: #212121;
  color:#FFFFFF;
  text-align: center;
}

header {
  padding:24px;
}
#header-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  color:#FFFFFF;
}
h1 span.subhead {
  font-size:1.8vw;
  font-weight:400;
  max-width:150px;
}
header ul {
  list-style-type:none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header li a {
  margin: 0 6px;
  color:#FFFFFF;
  text-decoration: none;
}

section {
  min-height:80vh;
  padding:24px;
}

#hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF;
  font-size: 3.2vw;
}
#hero p {
  font-size:1.6vw;
}
#hero .col-half {
  padding: 16px 20px;
  flex-basis: 40%;
}
#hero .col-half.left {
  text-align: left;
}
#hero .col-half.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#headshot-mask {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background-image: url('./assets/headshot.jpg');
  background-size:contain;
  margin: 40px 12px;
}
#hero button {
  background-color: #EFEFEF;
  color: var(--darkgray);
  border: 1px solid #000000;
  font-size:2vw;
  font-weight: bold;
  padding:10px 18px;
}


#portfolio-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#portfolio-card-container>div {
  flex-basis: 25%;
  background-color: #EFEFEF;
  color: #000000;
  margin:4px 20px;
  padding:12px;
  border-radius:4px;
}
#portfolio-card-container img {
  width:100%;
}
footer {
  padding:24px;
}
footer, footer a {
  color: #EFEFEF;
  text-decoration: none;
}

@media screen and (max-width:600px) {
  #header-flex-container {
    align-items: flex-start;
  }
  header ul {
    flex-direction: column;
    text-align: right;
  }
  h1 {
    line-height: 0.9em;
  }
  h1 span.subhead {
    font-size: 4vw;
  }
  #hero {
    flex-direction: column-reverse;
  }
  #hero p {
    font-size: 3.5vw;
  }
  #hero h2, #hero button {
    display: none;
  }
}